@use 'sass:map';
@import './_variables.scss';

$blackc: map.get($theme, 'black', default);
$blue-gray: map.get($theme, 'blue-gray', 'default');

:export {
  blackc: $blackc;
  blue-gray: $blue-gray;
}
