@use "sass:map";
@import '~normalize.css';
@import './_variables.scss';

html,
body,
#app {
  width: 100%;
  height: 100%;
}
body {
  background-color: map.get($theme, 'background-gray', 'default');
  -webkit-font-smoothing: antialiased;
  font-size: calc(10px + 0.33vw);
  color: map.get($theme, 'black', 'default');
}
