@import '~normalize.css';
@import './_variables.scss';
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  font-size: calc(10px + 0.33vw);
  color: $text;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  header {
    font-size: 4.5em;
    font-weight: 800;
    user-select: none;
    text-shadow: 0px 0px 0px transparent;
    transition: ease-in 0.3s;
    cursor: grab;
    &:hover {
      text-shadow: 0px 0px 20px #9c9c9c;
    }
    &:active {
      cursor: grabbing;
      transition: none;
      text-shadow: 0px 0px 5px #9c9c9c;
      color: #717171;
    }
  }
}
